<div class="register-form">
    <form [formGroup]="registrationForm">
        <div>
            <h3>User Registration</h3>
            <div >
                <label>E-mail :</label>
                <input type="email" formControlName="email" required class="form-input">
                <div *ngIf="values.email.invalid && (values.email.touch || values.email.dirty)">
                    <span *ngIf="values.email.errors.required" >
                        Email is required
                    </span>
                    <span *ngIf="values.email.errors.email" >
                        Email format is  incorect
                    </span>
                </div>
            </div>

            <div >
                <label>Password :</label>
                <input type="password" class="form-control" formControlName="password" required class="form-input">
                <div *ngIf="values.password.invalid && (values.password.touch || values.password.dirty)">
                    <span *ngIf="values.password.errors.required" >
                        Password is required.
                    </span>
                    <span *ngIf="values.password.errors.pattern">
                        Password must be at least 8 charactes, contain latin charactes and numbers.
                    </span>
                </div>
            </div>

            <div>
                <label>Confirm Password :</label>
                <input type="password"  formControlName="password_confirmation" required class="form-input">
                <div *ngIf="values.password_confirmation.invalid && (values.password_confirmation.touch || values.password_confirmation.dirty)" >
                    <span *ngIf="values.password_confirmation.errors.required">
                        Password is required.
                    </span>
                    <span *ngIf="values.password_confirmation.errors.pattern" >
                        Password must be minimum 8 charactes and it must contain only latin charactes and numbers.
                    </span>
                    <span *ngIf="registrationForm.errors.confirm" >
                        Passwords don't match.
                    </span>
                </div>
            </div>

            <div>
                <label>Nickname :</label>
                <input type="text"  class="form-control" formControlName="nickname" required class="form-input">
                <div *ngIf="values.nickname.invalid && (values.nickname.touch || values.nickname.dirty)">
                    <span *ngIf="values.nickname.errors.required">
                        Nickname is required.
                    </span>
                    <span *ngIf="values.nickname.errors.pattern">
                        Nickname should contain English letters,numbers and '-' symbol.
                    </span>
                </div>
            </div>

            <div>
                <label>Phone Number :</label>
                <input type="text"  class="form-control" formControlName="phone" required class="form-input">
                <div *ngIf="values.phone.invalid && (values.phone.touch || values.phone.dirty)">
                    <span *ngIf="values.phone.errors.required">
                        Phone Number is required.
                    </span>
                    <span *ngIf="values.phone.errors.pattern" >
                        Phone Number must start with +380 and contain 9 more characters.
                    </span>
                </div>
            </div>

            <div>
                <label>Website :</label>
                <input type="url"  class="form-control" formControlName="website" required class="form-input">
                <div *ngIf="values.website.invalid && (values.website.touch || values.website.dirty)" >
                    <span *ngIf="values.website.errors.required" >
                        Website url is required.
                    </span>
                    <span *ngIf="values.website.errors.pattern">
                        Website url  format is incorrect.
                    </span>
                </div>
            </div>
        </div>
         <div class="checkbox" >
            <input type="checkbox" formControlName="checkAgreement" required>
                I have read the <a href="#">agreement</a>
            <div *ngIf="values.checkAgreement.invalid && (values.checkAgreement.touch || values.checkAgreement.dirty)">
                <span *ngIf="values.checkAgreement.errors.required" >
                    You must check the agreement
                </span>
            </div>
        </div>

        <input type="submit" [disabled]='clicked' (click)="saveUsers()"  class="button fancy-button"  [disabled]="disabled" value="Register">
    </form>
</div>
